.starting-page__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    height: 40vh;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #4d4646ef;
    color: #f5f3f3;
}
.starting-page__header{
    margin-bottom: 20px;
    height: 96px;
    font-size: 54px;
    width:100%;
}
.starting-page__input{
    border-radius: 20px;
    padding: 0;
    border: 1px solid #312d2d;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 26px;
    width: 450px;
    height: 54px;
}
.starting-page__btn{
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #312d2d;
    color:#ffffff;
    background-color: #7FCD91;
    font-size: 26px;
    height: 54px;
    min-width: 144px;
}
.starting-page__form{
    display: flex;
}
